*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans Thai', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(227, 222, 222, 0.21) !important;
}

.card {
  width: 35rem;
  border-radius: 1rem;
  background: #ffffff;
  box-shadow: 4px 4px 15px rgba(#000, 0.15);
  position: relative;
  color: #3b1e1e;
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}

.card .card__container {
  padding: 2rem;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.886);
  border-radius: 1rem;
  position: relative;
  border: 2px solid;
}

.card .card__header {
  margin-bottom: 1rem;
  font-family: 'Noto Sans Thai', sans-serif;
  color: #ff304f;
}

.card .card__body {
  font-family: 'Kanit', sans-serif;
  font-family: 'Noto Sans Thai', sans-serif;
  color: #000000;
}

.card::before {
  position: absolute;
  top: 2rem;
  right: -0.5rem;
  content: '';
  background: #fc518400;
  height: 28px;
  width: 28px;
  transform: rotate(45deg);
}

.card::after {
  position: absolute;
  content: attr(data-label);
  top: 0px;
  right: 0px;
  padding: 0.5rem;
  width: 10rem;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-family: 'Noto Sans Thai', sans-serif;
  box-shadow: 4px 4px 15px rgba(100, 6, 25, 0.508);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 40px;
}

.backbtn {
  position: fixed;
  content: attr(data-label);
  top: 10px;
  right: -14px;
  padding: 0.5rem;
  width: 10rem;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-family: 'Noto Sans Thai', sans-serif;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  cursor: pointer;
  z-index: 20;
  text-decoration: none;
}

.box {
  width: 20%;
  margin: 0 auto;
  background: rgba(72, 72, 72, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid orange;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: orange;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}

.overlay:target {
  visibility: hidden;
  opacity: 0;
  display: none
}

.popup {
  position: relative;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  transition: all 2s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: orange;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.view-all {
  all: unset;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #e2dfdf90;
  color: #000000;
  font-size: 16px;
  border-radius: 30px;
  padding: 0 20px;
  font-weight: bold;
  height: 33.5px;
  cursor: pointer;
  line-height: 17.5px;
  text-align: center;
  margin: 0;
  text-decoration: none;
  border-color: rgb(99, 51, 51);
  border-width: 3px;
  border-style: solid;
}
.view-all:hover{
  background: #000000;
  background: -webkit-linear-gradient(to right, #43434385, #00000082);
  background: linear-gradient(to right, #43434398, #00000083);
  color: rgb(255, 235, 235);
  transition: 0.5s ease-in-out;
}

.view-canva {
  all: unset;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 30px;
  padding: 0 20px;
  font-weight: bold;
  height: 38.5px;
  cursor: pointer;
  line-height: 20.5px;
  text-align: center;
  margin: 0;
  text-decoration: none;
}
.view-canva:hover{
  background-color: #684247;
  background: -webkit-linear-gradient(to right, #fad6d6, #a97e7e);
  background: linear-gradient(to right, #e8cfcf, #d59292);
  color: #000;
  transition: all 0.5s ease-in-out;
}